/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* tombol disini */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* nambahkan hoveran */
button:hover {
    opacity: 0.8;
}

/* ini adalah contoh tombol */
.gaksido {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* terserah mau apa*/
.kotakgambar {
    text-align: center;
    margin: 24px 0 12px 0;
}


img.angg {
    width: 40%;
    border-radius: 50%;
}

.kotakan {
    padding: 16px;
}


span.psw {
    float: right;
    padding-top: 16px;
}


@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .gaksido {
        width: 100%;
    }
} 