 <form action="/action_page.php">
  <div class="kotakgambar">
    <img src="img_angg2.png" alt="angg" class="angg">
  </div>

  <div class="kotakan">
    <label><b>Username</b></label>
    <input type="text" placeholder="masuk jeneng" name="uname" required>

    <label><b>Password</b></label>
    <input type="password" placeholder="endi Password" name="psw" required>

    <button type="submit">Login</button>
    <input type="checkbox" checked="checked"> Remember me
  </div>

  <div class="kotakan" style="background-color:#f1f1f1">
    <button type="button" class="gaksido">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form> 